body{
    color: rgb(1, 1, 1);
    padding: 10px;
    background-image: url('../media/background_3.jpg');
    background-blend-mode: normal;
    background-attachment: fixed;
    background-position: center;
}
:root{
	--nav_bar:rgb(171, 230, 255);
    --nav_bar_hover: rgb(255, 236, 110);
    --seance_index: rgba(255, 236, 110, 0.5);
    --seance_index_hover: rgba(171, 230, 255, 0.5);
    --text_clair_color: white;
    --text_dark_color: black;
    --comment: rgba(201, 229, 253, 0.8);
    --auth_conteneur: rgba(225, 225, 225, 0.7);
}
.content{
    padding: 15px;
    width: 95%;
    margin: 0 auto;
}
li{
    list-style-type: none;
}
a{
    text-decoration: none;
    color: var(--text_dark_color);
}
form{
    width: 90%;
    min-width: 150px;
}
.image{
    width: 30px;
    height: 30px;
    float: left;
    margin: 5px;
}
.image-show{
    width: 100%;
    height: 100%;
}
.profil_photo{
    border-radius: 130px;
    width: 220px;
    height: 220px;
    margin-left: 45px;
}
.image-commentaire{
    width: 30px;
    height: 30px;
    border-radius: 20px;
}
.nav_bar{
    display: none;
    width: 100%;
    height: 100vh;
    background-color: var(--nav_bar);
    position: fixed;
    padding-left: 40px;
    margin-top: -10px;
    margin-left: -10px;
    padding-top: 20px;
    z-index: 1;
}
.nav_bar ul li a, .nav_bar div div a{
    font-size: x-large;
    font-weight: bold;
    padding-left: 10px;
    display: grid;
    width: 95%;
    height: 50px;
    background-color: var(--nav_bar);
    color: var(--text_dark_color);
    place-items: left;
    transition: 0.5s;
}
.nav_bar div div a{
    padding-left: 40px;
    margin-left: 0px;
}
.nav_bar ul li a:hover, .profil_option div a:hover, .profil_option a:hover{
    background-color: var(--nav_bar_hover);
    font-weight: bolder;
    transition: 0.5s;
}
.seance-index img{
    width: 100%;
    height: 160px;
}
.seance-index{
    background-color: var(--seance_index);
    margin: 2px;
    padding: 6px;
    width: 100%;
    min-width: 250px;
    float: left;
    transition: 0.5s;
}
.seance-index h3, i{
    color: var(--text_dark_color);
}
.seance-index:hover{
    background-color: var(--seance_index_hover);
    transition: 0.5s;
}
.commentaire{
    width: 100%;
    min-width: 250px;
    padding: 10px;
    margin: 5px;
    border-radius: 10px;
    background-color: var(--comment);
}
.commentaire-link{
    color: red;
}
.profil_photo{
    float: left;
    margin-right: 20px;
    margin-top: -20px;
    border-radius: 130px;
    width: 240px;
    height: 240px;
}
.mini_conteneur{
    width: 100%;
    margin: 0 auto;
}
.info-user{
    margin-top: 80px;
    display: block;
}
.auth_conteneur{
    width: 100%;
    margin: 0 auto;
    border-radius: 10px;
    padding: 10px;
    text-align: justify;
    background-color: var(--auth_conteneur);
}
textarea, input, table{
    opacity: 0.8;
}
.table-salle{
    display: block;
    margin-left: -25px;
}
.show_menu, .hide_menu{
    display: block;
    position: fixed;
    width: 50px;
    height: 50px;
    margin-left: -10px;
    margin-top: -10px;
    z-index: 2;
}
.hide_menu{
    display: none;
    color:  var(--text_clair_color);
    background-color: red;
    font-size: xx-large;
    text-align: center;
    font-weight: bold;
}
.show_menu div{
    height: 7px;
    width: 100%;
    margin-top: 7px;
    background-color: var(--nav_bar_hover);
}
.hide{
    display: none;
}